In [7]:
'''Database Connectivity in python attachted with xammp server mysql'''

'''make sure first python, mysql.connector, xampp server or mysql are  installed successfully into your system then it will work

1)if you are using xammp server make sure your mysql should be started and apache server '''

import mysql.connector as c
con=c.connect(host="localhost", user="root", password="", database="python")
cur=con.cursor()


print("1...insert data")
print("2...update data")
print("3...delete data")
print("4...Display single Student Records using id")
print("5...Display All Student Records")
print("\n Select your choice")

operation=int(input("Enter Your choice"))



                        #insert query
    
if operation==1:
    r=input("Enter Student rollno =")
    nm=input("Enter Student name =")
    c=input("Enter Student city =")
    query="insert into student values({},'{}','{}')".format(r,nm,c)
    cur.execute(query)
    con.commit()
    print("\n Row inserted successfully")

                        #update query
elif operation==2:
    query="update student set scity='goa' where sid=4"
    cur.execute(query)
    con.commit()
    print("Row updated successfully")

                        #delete query
elif operation==3:
    sno=input("Enter sid")
    query="delete from  student  where sid={}".format(sno)
    cur.execute(query)
    con.commit()
    print("Row Deleted successfully")
    
elif operation==4:
    sno=int(input("Enter sid"))
    query="select * from  student  where sid={}".format(sno)
    cur.execute(query)
    myresult=cur.fetchall()

    print("\nStudent data")
    for row in myresult:
        print(row)

                        #select query  (show table)
elif operation==5:
    query="select * from student"
    cur.execute(query)

    myresult=cur.fetchall()

    print("\nStudent data")
    for row in myresult:
        print(row)
        
        
else:
    print("You Entered wrong choice")







#if con.is_connected():
#   print("Connection success....")
#else:
#    print("Connection Failed....")

1...insert data
2...update data
3...delete data
4...Display single Student Records using id
5...Display All Student Records

 Select your choice
Enter Your choice5

Student data
(1, 'Akshay', 'pune')
(2, 'Rajesh', 'mumbai')
(3, 'Suresh', 'Goa')
(4, 'Sanjay', 'Satara')
(5, 'Rohit', 'solapur')
(32, 'Pranil Gaikwad', 'Atlanta')
(1000, 'sgd', 'pune')

In [17]:
# 2. Write a python code to Create table in MYSQL database , use structure given as Below:
# • Name-(name of the student)
# • Maths- (marks obtained in Maths)
# • Eng- (marks obtained in English)
# • Total- (total marks obtained )
# • Grade- (‘DIST’ ‘PASS’, ‘FAIL’)
# Perform the following operations:
# i. Display the students Name, Maths, Eng
# ii. Display the count of students grouped by Grade .
# iii. Display the students , who secured more than 70 marks in Math




import mysql.connector as c
con=c.connect(host="localhost", user="root", password="",database="python")
cur=con.cursor()

# ---------------------------create table-----------------------------------------------------------------
# query="create table student_data (Name varchar(50),Maths int(5),Eng int(5),Total int(5),Grade varchar(20))"
# cur.execute(query)
# con.commit()

# print("Table Created successfully")



#----------------------display data---------------------------------------------------------

# query="select Name,Maths,Eng  from student_data"
# cur.execute(query)

# myresult=cur.fetchall()

# print("\nStudent data")
# for row in myresult:
#     print(row)



#----------------------display data---------------------------------------------------------
#  ii. Display the count of students grouped by Grade



# query="SELECT  Grade,count('name')  FROM `student_data` group by Grade "
# cur.execute(query)

# myresult=cur.fetchall()

# print("\nDisplay the count of students grouped by Grade")
# for row in myresult:
#     print(row)


# print("Table Created successfully")




# ------------------ iii. Display the students , who secured more than 70 marks in Math


query="select * from student_data where Eng >70"
cur.execute(query)

myresult=cur.fetchall()

print("\nDisplay the count of students grouped by Grade")
for row in myresult:
    print(row)

Display the count of students grouped by Grade
('Akshay', 80, 80, 160, 'DIST')
('Avinash', 89, 85, 174, 'DIST')

In [3]:
# Q_9 create database and table by using query in python 

import mysql.connector as c
con=c.connect(host="localhost", user="root", password="",database="datbase_hospital")
cur=con.cursor()

# query="create database datbase_hospital"
# cur.execute(query)
# con.commit()

# print("Datase Created")

# -------------------------------------------------------------------------

# query="create table hospital (h_id int(5) primary key,h_name varchar(30),bed_count int(2)) "
# cur.execute(query)
# con.commit()

# print("Table Created successfully")

#------------------------------------------------------------------------------


query="create table doctor(d_id int(5)primary key,d_name varchar(30),joing_date varchar(20),speciality varchar(20),salary int(5), experince varchar(20), h_id int REFERENCES hospital(h_id)) "

cur.execute(query)
con.commit()

print("Table Created successfully")

ProgrammingError: 1050 (42S01): Table 'doctor' already exists

In [5]:

print("Akshay")

Akshay

In [6]:
#python task from trigersoft 
#getting data from excel sheet and insert into database using python script



import mysql.connector as c
import xlrd

#-------------------------for student data insert----------------------------------
con=c.connect(host="localhost", user="root", password="",database="data")
cur=con.cursor()
loc=("Book1.xlsx")

l=list()
a=xlrd.open_workbook(loc)
sheet=a.sheet_by_index(1)



for i in range(1,4):
    l.append(tuple(sheet.row_values(i)))

print(l)

q="insert into student (Student_Id,UserName,Email,Mobile_No) values(%s,%s,%s,%s)"

cur.executemany(q,l)
con.commit()
print("Data Inserted Successfully")

[(1.0, 'Avinash Patel', 'avinash@gmail.com', 9878677887.0), (2.0, 'Rina Joshi', 'rina@gmail.com', 7656455665.0), (3.0, 'sagita rane', 'sagita@gmail.com', 7887899898.0)]
Data Inserted Successfully

In [12]:
#-------------------------for subject data insert----------------------------------
con=c.connect(host="localhost", user="root", password="",database="data")
cur=con.cursor()
loc=("Book1.xlsx")

l=list()
a=xlrd.open_workbook(loc)
sheet=a.sheet_by_index(0)



for i in range(1,4):
    l.append(tuple(sheet.row_values(i)))

print(l)

q="insert into subject (Subject_Id,Name,Total_Marks,Is_Active) values(%s,%s,%s,%s)"

cur.executemany(q,l)
con.commit()
print("Data Inserted Successfully")

[(1.0, 'Python', 100.0, 1.0), (2.0, 'PHP', 100.0, 1.0), (3.0, 'Cloud Computing', 100.0, 1.0)]
Data Inserted Successfully

In [11]:
#-------------------------for student-subject data insert----------------------------------
import mysql.connector as c
import xlrd
con=c.connect(host="localhost", user="root", password="",database="data")
cur=con.cursor()
loc=("Book1.xlsx")

l=list()
a=xlrd.open_workbook(loc)
sheet=a.sheet_by_index(3)



for i in range(1,4):
    l.append(tuple(sheet.row_values(i)))

print(l)

q="insert into student_subject (id,student_id,subject_id) values(%s,%s,%s)"

cur.executemany(q,l)
con.commit()
print("Data Inserted Successfully")

IndexError: list index out of range

In [5]:
#-------------------------for student report data insert----------------------------------
import mysql.connector as c
import xlrd
con=c.connect(host="localhost", user="root", password="",database="data")
cur=con.cursor()
loc=("Book1.xlsx")

l=list()
a=xlrd.open_workbook(loc)
sheet=a.sheet_by_index(2)



for i in range(1,4):
    l.append(tuple(sheet.row_values(i)))

print(l)

q="insert into student_report (id,sb_Id,Marks) values(%s,%s,%s)"

cur.executemany(q,l)
con.commit()
print("Data Inserted Successfully")

[(1.0, 1.0, 50.0), (2.0, 2.0, 40.0), (3.0, 3.0, 60.0)]
Data Inserted Successfully

In [30]:
#-------------------------for student report databse to excel----------------------------------


import mysql.connector as c
import xlrd
con=c.connect(host="localhost", user="root", password="",database="data")
cur=con.cursor()
loc=("Book1.xlsx

   ID       UserName              Email      Mobile
0   1  Avinash Patel  avinash@gmail.com  9878677887
1   2     Rina Joshi     rina@gmail.com  7656455665
2   3    sagita rane   sagita@gmail.com  7887899898

NameError: name 'connection' is not defined

In [3]:
#report generating 

import mysql.connector as c
import xlrd
import pandas as pd
con=c.connect(host="localhost", user="root", password="",database="data")
cur=con.cursor()

q="""select 
student.id,student.username,student.email,student.mobileno,
sum(sr.marks) as marks,
sum(subject.total_marks) as total_marks,
round(((marks / total_marks) * 100 ),2) as percentage
from 
student_report as sr
join 
student_subject as ss
join 
subject
join 
student
on 
sr.student_subject_id = ss.id
and 
ss.subject_id=subject.id
AND
ss.student_id=student.id
group BY
ss.student_id"""


df=pd.read_sql(q,con)
df



df.to_excel('report.xls',sheet_name="abc")

,id,username,email,mobileno,marks,total_marks,percentage
0,1,Avinash Patel,avinash@gmail.com,9878677887,150.0,300.0,50.0
1,2,Rina Joshi,rina@gmail.com,7656455665,150.0,300.0,50.0

PermissionError: [Errno 13] Permission denied: 'report.xls'

AttributeError: module 'os' has no attribute 'cwd'